* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", sans-serif;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul {
  list-style-type: none;
}

div.container {
  height: auto;
  width: 1200px;
  margin: 0 auto;
}

div.container::after {
  clear: both;
  display: inline-table;
  content: "";
}

header {
  background-color: #101010;
}

div.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

nav.nav-up {
  text-align: right;
  color: #989898;
}

nav.nav-up ul {
  display: inline-block;
  list-style-type: none;
}

nav.nav-up li {
  display: inline-block;
  padding: 5px;
}

nav.nav-down {
  text-align: center;
}

nav.nav-down ul {
  display: inline-block;
}

nav.nav-down li {
  display: inline-block;
  padding: 5px;
}

nav.nav-down li a {
  color: #fff;
}

nav.nav-down div.logo {
  display: inline-block;
}

nav.nav-down div.logo img {
  width: 80%;
}

section.jumbotron {
  padding: 20px 0;
  background-image: url("https://www.painterartist.com/static/ptr/product_content/painteressentials/7/hero-painteressentials-7.jpg");
  -o-object-fit: contain;
     object-fit: contain;
  background-repeat: no-repeat;
  background-position: top;
}

div.jumbo-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  color: #fff;
  margin-left: 30%;
}

div.jumbo-info h1 {
  padding: 15px 0;
}

div.jumbo-info .menu {
  padding: 20px 0;
}

div.jumbo-info .menu li {
  padding: 5px 0;
}

div.jumbo-info .cta {
  display: inline-flex;
  align-items: center;
  padding: 10px;
  background-color: #666;
}

div.jumbo-info .cta:hover {
  background-color: #333;
  text-decoration: none;
}

div.jumbo-info .cta .cta-text {
  padding-right: 10px;
  border-right: 2px solid #fff;
  color: #fff;
}

div.jumbo-info .cta .cta-text p:first-child {
  text-transform: uppercase;
}

div.jumbo-info .cta .cta-icon {
  padding-left: 10px;
  padding-bottom: 5px;
  font-size: 25px;
  color: #fff;
}

div.jumbo-info .price-box {
  width: 45%;
  background-color: black;
}

div.jumbo-info .price-box .price-info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}

div.jumbo-info .price-box .price-info .price-cta {
  padding-right: 50px;
}

footer div.footer-up {
  padding: 20px 0;
  background-color: #ececec;
}

footer div.footer-up .footer-menus {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: none;
}

footer div.footer-up .footer-menus .menu {
  padding: 10px;
}

footer div.footer-up .footer-menus .menu p {
  padding-bottom: 10px;
}

footer div.footer-up .footer-menus .menu ul li {
  padding: 5px 0;
}

footer div.footer-up .footer-menus .menu ul li a {
  color: #4d4d4d;
  font-size: 13px;
}

