footer div.footer-up {
    padding: $general_spacing;
    background-color: $footer_up_background;

    .footer-menus {
        @include flex(row, space-between , none);

        .menu {
            padding: 10px;

            p {
                padding-bottom: 10px;
            }

            ul {
                list-style-type: none;

                li {
                    padding: $footer_li_spacing;

                    a {
                        color: $font-color-primary;
                        font-size: 13px;
                    }
                }
            }
        }
    }
}
