* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Segoe UI", sans-serif;
    font-size: $general_font_size;
}

span {
    display: inline-block;
    padding: $titles-padding;
    font-size: 29px;
}

a {
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

ul {
    list-style-type: none;
}

div.container {
    width: 1200px;
    margin: 0 auto;

    &::after{
        @include clearfix;
    }
}
