header {
    background-color: $header_background;
}

div.nav-container {
    @include flex(row, space-between, center);
}

nav.nav-up {
    text-align: right;
    color: $font-color-secondary;

    ul {
        display: inline-block;
        list-style-type: none;
    }

    li {
        display: inline-block;
        padding: $li_spacing;
    }
}

nav.nav-down {
    text-align: center;
    color: $font-nav-color;

    ul {
        display: inline-block;
        list-style-type: none;
    }

    li {
        display: inline-block;
        padding: $li_spacing;
    }

    div.logo {
        display: inline-block;

        img {
            width: 80%;
        }
    }
}
