header {
    background-color: $header_background;
}

div.nav-container {
<<<<<<< HEAD
    @include flex(row, space-between, center);
=======
    @include flex(row, center, center);
>>>>>>> main
}

nav.nav-up {
    text-align: right;
    color: $font-color-secondary;

    ul {
        display: inline-block;
        list-style-type: none;
    }

    li {
        display: inline-block;
<<<<<<< HEAD
        padding: $li_spacing;
=======
        padding: $nav_li_spacing;
>>>>>>> main
    }
}

nav.nav-down {
    text-align: center;
<<<<<<< HEAD
    color: $font-nav-color;
=======
    color: $font-color-primary;
>>>>>>> main

    ul {
        display: inline-block;
        list-style-type: none;
    }

    li {
        display: inline-block;
<<<<<<< HEAD
        padding: $li_spacing;
=======
        padding: $nav_li_spacing;
>>>>>>> main
    }

    div.logo {
        display: inline-block;

        img {
            width: 80%;
        }
    }
}
