header {
    background-color: $header_background;
}

div.nav-container {
    @include flex(row, space-between, center);
}

nav.nav-up {
    padding-top: $general_spacing;
    text-align: right;
    color: $font-color-secondary;

    ul {
        display: inline-block;
        list-style-type: none;
    }

    li {
        display: inline-block;
        padding: $li_spacing;

        i {
            color: $icon_secondary_color;
            padding-right: $li_spacing;
        }
    }
}

nav.nav-down {
    padding-top: $general_spacing;
    margin-right: 200px;

    ul {
        @include flex(row, space-between, center);
    }

    li {
        display: inline-block;

        a {
            padding: $li_spacing * 2 ;
            color: $font-nav-jumbo-color;

            &:hover {
                color: $font-color-primary;
                background-color: #fff;
                text-decoration: none;
            }

            i {
                @include icon_primary;
            }
        }
    }

    img {
        display: inline-block;
        width: 10%;
    }
}
