section.jumbotron {
    padding: $top_down_spacing;
    background-image: url('https://www.painterartist.com/static/ptr/product_content/painteressentials/7/hero-painteressentials-7.jpg');
    object-fit: contain;
    background-repeat: no-repeat;
    background-position: top;
}

div.jumbo-info {
    @include flex(row, space-between, flex-start);
    height: auto;
    color: $font-nav-jumbo-color;
    margin-left: 25%;

    h1 {
        padding: $titles-padding;
    }

    .menu {
        font-size: 17px;
        padding: $top_down_spacing;

        li {
            padding: $menu_li_spacing;
        }
    }

    .cta {
        display: inline-flex;
        align-items: center;
        padding: $li_spacing * 3;
        background-color: $cta_background;

        &:hover {
            background-color: $cta_hover_background;
            text-decoration: none;
        }

        .cta-text {
            padding-right: 10px;
            border-right: 2px solid #fff;
            color: $font-nav-jumbo-color;

            p:first-child{
                text-transform: uppercase;
            }
        }

        .cta-icon {
            padding-left: 10px;
            padding-bottom: 5px;
            font-size: 25px;
            color: $font-nav-jumbo-color;
        }
    }

    .price-box {
        width: 45%;
        padding: $price-box-padding;
        background-color: black;

        .price-info {
            @include flex(row, space-between, center);
            padding-bottom: $bottom_padding;

            .price-cta {
                padding-right: 50px;

                p {
                    text-transform: uppercase;
                    color: $font-color-secondary;
                }

                a {
                    @include button_format;
                }
            }
        }

        .offer {
            padding: $general_spacing;
            margin: $top_margin;
            color: $font-color-primary;
            background-color: #fff;

            h3 {
                text-transform: uppercase;
                font-size: 18px;
            }

            p {
                padding: 5px 0;
            }

            a {
                color: $link-offer-color;
            }
        }
    }
}
