$general_spacing: 20px 0;
$li_spacing: 10px;

$font-color-primary: #4d4d4d;
$font-color-secondary: #989898;

$header_background: #101010;
$font-nav-color: #fff;

$footer_li_spacing: 10px 0;
$footer_up_background: #ececec;
