$general_font_size: 14px;


$general_spacing: 15px;
$general_margin: 20px;
$top_down_margin: 10px 0;
$top_margin: 20px 0 0 0;
$bottom_padding: 20px ;
$top_down_spacing: 20px 0;

$menu_li_spacing: 5px 0;
$li_spacing: 5px;
$titles-padding: 5px 0;
$button_padding: 8px 36px;

$font-color-primary: #4d4d4d;
$font-color-secondary: #989898;
$link-offer-color: #009cff;

$cta_background: #666;
$cta_hover_background: #333;

$icon_color: #009cff;
$header_background: #101010;
$nav_li_spacing: 10px;

$font-nav-jumbo-color: #fff;

$price-box-padding: 20px 20px 100px 20px;;

$footer_up_background: #ececec;
