$general_spacing: 20px 0;
$menu_li_spacing: 5px 0;
$li_spacing: 5px;
$titles-padding: 15px 0;
$font-color-primary: #4d4d4d;
$font-color-secondary: #989898;
$cta_background: #666;
$cta_hover_background: #333;

$header_background: #101010;
$font-nav-jumbo-color: #fff;


$footer_up_background: #ececec;

$nav_li_spacing: 10px;
